{%extends 'jblog/base.html'%}

{%block title%}
    <title>Novo artigo</title>
{%endblock%}
{%block menu%}{%endblock%}
{%block main%}
    <div class="jumbotron">
        <h1 class="display-4">
            Criar artigo
        </h1>
        <hr class="my-4">
        {%csrf_token%}
        {% for field in form%}
            <div class="form-group">
                <div class="lead">{{field.label_tag}}</div>
                {{field}}
            </div>
        {%endfor%}
        <p class="text-left">
            <button type="submit" value="Save" class="btn btn-primary">Criar</button>
            <a href="{%url 'jblog:index'%}" class="btn btn-danger">Cancelar</a>
        </p>
    </div>
    <h1 class="text-center text-primary"></h1>
{%endblock%}


