{%extends 'base.html'%}

{% block title %}{{ title|safe }}{% endblock %}
{% block main %}
<form method="POST">
    <div class="jumbotron">
        <h1 class="display-4">
            {{ title|safe }}
        </h1>
        <hr class="my-4">
        {%csrf_token%}
        {% for field in form%}
        <div class="form-group">
            <div class="lead">{{field.label_tag}}</div>
            {{field}}
        </div>
        {%endfor%}
        <p class="text-left">
            <button type="submit" value="Save" class="btn btn-primary">Salvar</button>
            <a href="{%url 'jblog:index'%}" class="btn btn-danger">Cancelar</a>
        </p>
    </div>
</form>
{%endblock%}